<h1>
    <%= data.title %>
</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên</th>
            <th scope="col">Tài khoản</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Email</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Quyền</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>AAA</td>
            <td>aaa</td>
            <td>Nam</td>
            <td>aaa@gmail.com</td>
            <td>VN</td>
            <td>User</td>
        </tr>
        <tr class="table-primary">
            <th scope="row">2</th>
            <td>BBB</td>
            <td>BBB</td>
            <td>Nam</td>
            <td>bbb@gmail.com</td>
            <td>VN</td>
            <td>User</td>
        </tr>
    </tbody>
</table>