<div class="row">
    <div class="col-3">
        <div>
            <h3><a class="text-reset text-decoration-none" href="">AAA</a></h3>
            <p>VN</p>
        </div>
    </div>
    <div class="col-3">
        <div>
            <h3><a class="text-reset text-decoration-none" href="">BBB</a></h3>
            <p>VN</p>
        </div>
    </div>
    <div class="col-3">
        <div>
            <h3><a class="text-reset text-decoration-none" href="">CCC</a></h3>
            <p>VN</p>
        </div>
    </div>
    <div class="col-3">
        <div>
            <h3><a class="text-reset text-decoration-none" href="">DDD</a></h3>
            <p>VN</p>
        </div>
    </div>
</div>